<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093889197647-c4btm9ldss5c2b585hib9uedj321ocht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093889197647-c4btm9ldss5c2b585hib9uedj321ocht</string>
	<key>API_KEY</key>
	<string>AIzaSyDArbsoaVPro6-LV6SSLhCRpjniGOaBZjc</string>
	<key>GCM_SENDER_ID</key>
	<string>1093889197647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMealsApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-meal-webapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-meal-webapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093889197647:ios:0342d84a61556b0ad30c3a</string>
</dict>
</plist>